.text-center{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.center{
display: inline-flex;
justify-content: center;
flex-direction: column;
}
.my-2{
    margin: 26px 0;
    text-align: center;
}